body {
    margin: -8px;
}

.App {
    position: relative;
    width: 1440px; 
    height: 124px;

    background: #050417;
}

.App-header {
    background-color: #050417;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-logo {
    position: absolute;
    width: 213px;
    height: 128px;
    left: 614px;
    top: 240px;
}

.Input-query {
    position: absolute;
    width: 400px;
    height: 50px;
    left: 520px;
    top: 425px;

    background: #FFFFFF;
    border-radius: 4px;
}

.Placeholder-query {
    position: absolute;
    width: 42px;
    height: 20px;
    left: 540px;
    top: 441px;

    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;

    color: #D5D7E5;
}

.Select {
    position: absolute;
    width: 407px;
    height: 55px;
    left: 520px;
    top: 496px;

    background: #FFFFFF;
    border-radius: 4px;

}

.Select-collections-back{
    position: absolute;
    width: 380px;
    height: 50px;
    left: 530px;
    top: 505px;
    
    background: #D5D7E5;
    opacity: 0.7;
    border-radius: 4px;
}

.Button {
    position: absolute;
    width: 246px;
    height: 50px;
    left: 606px;
    top: 621px;
    
    background: #2A2B8D;
    
    border-radius: 25px;
    border-color:#2A2B8D;
}

.Button-search {
    position: absolute;
    left: 38.21%;
    right: 35.77%;
    top: 34%;
    bottom: 26%;

    font-family: Open Sans;
    font-size: 14px;
    line-height: 19px;
    letter-spacing: 0.1em;
    text-decoration: none;

    color: #FFFFFF;
}